<%- include('partials/header') %>

  <main>
    <h1>Gebruikers</h1>
    <section class="users">
      <ul class="userlist">
        <li class="user">
          <span class="user-name">placeholder naam</span>
          <span class="user-email">placeholder@email.com</span>
          <span class="user-phone">0477123242</span>
        </li>
        <li class="user">
          <span class="user-name">placeholder naam</span>
          <span class="user-email">placeholder@email.com</span>
          <span class="user-phone">0477123242</span>
        </li>
        <li class="user">
          <span class="user-name">placeholder naam</span>
          <span class="user-email">placeholder@email.com</span>
          <span class="user-phone">0477123242</span>
        </li>

        <!-- <% users.forEach(user => { %>
        <li class="user">
          <span class="user-name"><%= user.name %></span>
          <span class="user-email"><%= user.email %></span>
          <span class="user-phone"><%= user.phone %></span>
        </li>
        <% }); %> -->
      </ul>
    </section>
  </main>

  <%- include('partials/footer') %>