<%- include('partials/header') %>

<!-- voorbeeld nu de css te kunnen gebruiken, onderaan staat de ejs -->

<main>
  <section class="menu">
    <h1 id="ons_menu">Ons Menu</h1>
    <section id="bestsellers">
      <h1 class="sectionNaam">Bestsellers</h1>
      <div class="listItem">
        <% pizzas.forEach(pizza => {%>
        <article class="card">
          <img
            src="assets/images/pizza_images/<%= pizza.image %>"
            alt="<%= pizza.name %>"
          />
          <h1 class="pizzaNaam"><%= pizza.name %></h1>
          <!-- <h2 class="ingredienten">item1, item2, item3</h2> -->
          <form action="/bestel" method="POST">
            <!-- css in de tag puur voor gewoon te testen, moet nog aangepast worden :) -->
            <span class="pizzaPrice" style="font-size: 1rem"
              >Vanaf €<%= pizza.price.toFixed(2) %></span
            >
            <label>
              <span style="font-size: 0.9rem">Aantal</span>
              <input
                type="number"
                name="amount"
                value="<%= updateAmountInEjs(pizza, cart) %>"
                min="1"
              />
            </label>
            <input type="hidden" name="pizza" value="<%= pizza.name %>" />
            <input type="hidden" name="price" value="<%= pizza.price %>" />
            <input type="hidden" name="image" value="<%= pizza.image %>" />
            <button type="submit" class="orderbutton">+</button>
          </form>
        </article>
        <% }); %>
      </div>
    </section>
  </section>

  <aside>
    <button class="close-aside">×</button>
    <div>
      <h1>Uw Bestelling</h1>
      <ul class="order-list">
        <% cart.items.forEach(item => { %>
        <li>
          <div class="pizzalist">
            <h2><%= item.name %></h2>
            <p>€<%= item.price %></p>
            <p>x<%= item.amount %></p>
          </div>
          <form
            action="/bestel/verwijder"
            method="POST"
            style="display: inline"
          >
            <input type="hidden" name="item" value="<%= item.name %>" />
            <button
              type="submit"
              class="remove-button"
              aria-label="Verwijder bestelling"
            >
              Verwijder
            </button>
          </form>
        </li>
        <% }); %>
      </ul>
    </div>

    <div id="afrekenen">
      <div class="total">
        <h2>Totaal: €<%= cart.totalPrice %></h2>
      </div>
      <form action="/checkout">
        <input type="hidden" name="image" value="<%= cart.totalPrice %>" />
        <button type="submit" class="bestelButton">Bestellen</button>
      </form>
    </div>
  </aside>

  <!-- Voeg deze toggle knop toe VOOR de closing body tag -->
  <button class="aside-toggle">
    🛒
    <span class="cart-count"><%= totalAmountCartItems(cart) %></span>
  </button>
  <div class="aside-overlay"></div>
</main>

<%- include('partials/footer') %>
