<%- include('partials/header') %>

<!-- voorbeeld nu de css te kunnen gebruiken, onderaan staat de ejs -->

<main>
  <section class="menu">
    <h1>Ons Menu</h1>
    <section id="bestsellers">
      <h1>Bestsellers</h1>
      <div class="listItem">
        <article class="card">
          <img
            src="assets/images/pizza_images/pizza_margherita.png"
            alt=""
            srcset=""
          />
          <h1>Pizzanaam</h1>
          <h2>item1,item2,item3</h2>
          <ul>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
          </ul>
          <form action="/bestel" method="POST">
            <input type="hidden" name="pizza" value="<%= //item.naam %>" />
            <button type="submit" class="orderbutton">Bestel nu</button>
          </form>
        </article>

        <article class="card">
          <img
            src="assets/images/pizza_images/pizza_margherita.png"
            alt=""
            srcset=""
          />
          <h1>Pizzanaam</h1>
          <h2>item1,item2,item3</h2>
          <ul>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
          </ul>
          <form action="/bestel" method="POST">
            <input type="hidden" name="pizza" value="<%= //item.naam %>" />
            <button type="submit" class="orderbutton">Bestel nu</button>
          </form>
        </article>

        <article class="card">
          <img
            src="assets/images/pizza_images/pizza_margherita.png"
            alt=""
            srcset=""
          />
          <h1>Pizzanaam</h1>
          <h2>item1,item2,item3</h2>
          <ul>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
          </ul>
          <form action="/bestel" method="POST">
            <input type="hidden" name="pizza" value="<%= //item.naam %>" />
            <button type="submit" class="orderbutton">Bestel nu</button>
          </form>
        </article>

        <article class="card">
          <img
            src="assets/images/pizza_images/pizza_margherita.png"
            alt=""
            srcset=""
          />
          <h1>Pizzanaam</h1>
          <h2>item1,item2,item3</h2>
          <ul>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
          </ul>
          <form action="/bestel" method="POST">
            <input type="hidden" name="pizza" value="<%= //item.naam %>" />
            <button type="submit" class="orderbutton">Bestel nu</button>
          </form>
        </article>

        <article class="card">
          <img
            src="assets/images/pizza_images/pizza_margherita.png"
            alt=""
            srcset=""
          />

          <h1>Pizzanaam</h1>
          <h2>item1,item2,item3</h2>
          <ul>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
          </ul>
          <form action="/bestel" method="POST">
            <input type="hidden" name="pizza" value="<%= //item.naam %>" />
            <button type="submit" class="orderbutton">Bestel nu</button>
          </form>
        </article>

        <article class="card">
          <img
            src="assets/images/pizza_images/pizza_margherita.png"
            alt=""
            srcset=""
          />
          <h1>Pizzanaam</h1>
          <h2>item1,item2,item3</h2>
          <ul>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
            <li>
              <div>
                <p class="afmeetingPizza">afmeting pizza</p>
                <p class="prijsPizza">prijs</p>
              </div>
            </li>
          </ul>
          <form action="/bestel" method="POST">
            <input type="hidden" name="pizza" value="<%= //item.naam %>" />
            <button type="submit" class="orderbutton">Bestel nu</button>
          </form>
        </article>
      </div>
    </section>
  </section>

  <aside>
    <h1>Uw Bestelling</h1>
    <ul class="order-list">
      <% bestellingen.forEach(function(itemNaam, i) { %>
      <li>
        <div class="pizzalist">
          <h2><%= itemNaam %></h2>
          <p>€XX.XX</p>
        </div>

        <form action="/bestel/verwijder" method="POST" style="display: inline">
          <input type="hidden" name="index" value="<%= i %>" />
          <button
            type="submit"
            class="remove-button"
            aria-label="Verwijder bestelling"
          >
            Verwijder
          </button>
        </form>
      </li>
      <% }); %>
    </ul>

    <div class="total">
      <h2>Totaal: <% // prijs logica komt hier %></h2>
      <p>€0.00</p>
    </div>

    <button type="submit" class="bestelButton">Bestellen</button>
  </aside>
</main>

<%- include('partials/footer') %>
