<%- include('partials/header') %>

<main>
  <section id="cartItems">
  <h1>Checkout</h1>
  <p>Bekijk je winkelmand en rond je bestelling af.</p>

  
    <% if (cart.items.length > 0) { %>
    <ul>
      <% cart.items.forEach(item => { %>
      <li><%= item.name %> - €<%= item.price %> x <%= item.amount %></li>
      <% }) %>
    </ul>
    <p>Totaal: €<%= cart.totalPrice %></p>
    <form  action="/checkout/pay" method="POST">
      <button type="submit">Betalen</button>
    </form>
    <% } else { %>
    <p>Je winkelmand is leeg.</p>
    <a href="/bestel">Ga terug naar de bestelpagina</a>
    <% } %>
  </section>
</main>

<%- include('partials/footer') %>
